# Local SQLite database node settings
SQLITE_BASE_DIR=examples/local/.data
SQLITE_PROJECT_DB_PATH=examples/local/.data/project_config.db
SQLITE_INGESTION_JOB_DB_PATH=examples/local/.data/ingestion_jobs.db
SQLITE_WORKFLOW_LOG_DB_PATH=examples/local/.data/workflow_log.db
SQLITE_PLACEMENT_DB_PATH=examples/local/.data/placement.db

