# Local SQLite database node settings
SQLITE_BASE_DIR=.run/data
SQLITE_PROJECT_DB_PATH=.run/data/project_config.db
SQLITE_INGESTION_JOB_DB_PATH=.run/data/ingestion_jobs.db
SQLITE_WORKFLOW_LOG_DB_PATH=.run/data/workflow_log.db
SQLITE_PLACEMENT_DB_PATH=.run/data/placement.db
